{% extends 'base.html' %}

{% block media_css %}
  <link rel="stylesheet" href="{{ static('product.css') }}">
{% endblock media_css %}

{% block body %}
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-3">
        <img class="rounded-circle" src="https://via.placeholder.com/256">
        <div class="mt-4">
          <h2>{{user.first_name}} {{user.last_name}}</h2>
          <div class="lead">
            @{{user.username}}
            {% if user.username == request.user.username %}
              <a class="btn btn-primary btn-sm" href="{{ url('profile_update', request.user.username) }}">Settings</a>
            {% endif %}
          </div>
          <hr/ >
          <i class="fa fa-leaf" aria-hidden="true"></i> Greenier Points: {{object.points}}
          <br />
          <i class="fa fa-star" aria-hidden="true"></i> Rating: {{object.rating}}
          <br />
          <i class="fa fa-user-friends" aria-hidden="true"></i> (followers & following detail)
        </div>
      </div>
      <div class="col-md-9">
        <h1>Bio</h1>
        <hr />
        <p class="lead">{{object.bio|markdown}}</p>
        <ul class="nav nav-tabs">
          <li class="nav-item">
              <a href="#overview" class="nav-link active" data-bs-toggle="tab"><i class="fa fa-pie-chart" aria-hidden="true"></i> Overview</a>
          </li>
          <li class="nav-item">
              <a href="#sales" class="nav-link" data-bs-toggle="tab"><i class="fa fa-store" aria-hidden="true"></i> Sales</a>
          </li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane fade show active" id="overview">
            </div>
            <div class="tab-pane fade" id="sales">
              <div class="container m-2">
                <a class="text-white btn btn-primary w-100" href="{{ url('product_market')+'?search='+object.user.username }}">Go to all products</a>
                <section class="section-products">
                  <div class="row">
                    {% for product in products %}
                      <div class="col-md-6 col-lg-4 col-xl-3">
                        <div id="{{ product.pk }}" class="single-product shadow-lg rounded-3">
                          <div class="product-img-top rounded-3" style="background: url('{{ product.display_image.split()[0] }}') no-repeat center; background-size: cover; transition: all 0.3s;">
                            {% if product.is_new %}<div class="new">New</div>{% endif %}
                            <ul>
                              <li><a title="Add to cart" href="#" onclick="addToCart(this);"><i class="fas fa-shopping-cart"></i></a></li>
                              <li><a title="Add to wishlist" href="#"><i class="fas fa-heart"></i></a></li>
                              <li><a title="" class="product-detail-expand" data-id="{{ product.id }}" href="#"><i class="fas fa-expand"></i></a></li>
                              {% if product.is_editable_by(request.user) %}
                                  <li><a data-id="{{ product.id }}" href="{{ url('product_update', product.id) }}"><i class="fas fa-cog"></i></a></li>
                              {% endif %}
                            </ul>
                          </div>
                          <div class="product-detail card-body">
                            <h2>{{ product.name }}</h2>
                            <h4 class="product-price">${{ product.price }}</h4>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </section>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}

