html {
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: rgb(255, 249, 242);
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: rgb(161, 161, 161);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(110, 110, 110);
}