<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="text-muted">© 2021 Company, Inc</span>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <a><i class="fa fa-at"></i></a>
        &nbsp;
        <a><i class="fab fa-github"></i></a>
        &nbsp;
        <a><i class="fab fa-facebook"></i></a>
      </ul>
    </footer>
</div>